
    <div id = "favorite_form_<%= @micropost.id %>">
     <% if current_user.favorite?(@micropost.id) %>
     <%= render 'unfavorite' %>
     <% else %>
     <%= render 'favorite' %>
     <% end %>
    </div>
